.DS_Store
**node_modules
IndraReactNative/ios/IndraReactNative.xcodeproj/project.xcworkspace/contents.xcworkspacedata
IndraReactNative/ios/IndraReactNative.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
