.DS_Store
**node_modules
IndraReactNative/ios/IndraReactNative.xcodeproj/project.xcworkspace/contents.xcworkspacedata
IndraReactNative/ios/IndraReactNative.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
**.expo
IndraReactNative/.expo/packager-info.json
IndraReactNative/test_data/.eslintrc.js
IndraReactNative/.eslintrc.json
